{% extends "partials/_base.html" %}
{% load static %}

{% block content %}
<div class="container-scroller">
      <!-- partial -->
      {% include 'partials/_navbar.html' %}

      <div class="container-fluid page-body-wrapper">
        <!-- partial -->
        {% include 'partials/_settings-panel.html' %}

        <!-- partial:partials/_sidebar.html -->
        {% include 'partials/_sidebar.html' %}


        <!-- partial -->
        {% block main_panel%}

        {% endblock %}

        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>

{% endblock %}