{% extends 'index.html' %}
{% load static %}
{% block main_panel %}

<div class="main-panel">
    <div class="main-panel">
        <div class="row">
            <!-- Left Panel -->
            <div class="col-md-4 bg-light" style="height:100vh;">
                <!-- subltle side panel title-->
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-12 mt-5">
                            <h3 class="text-center">Geo Analytics Tools</h3>
                            <!-- short description -->
                            <p class="text-center">Select type of data you want to preview</p>
                        </div>

                        <!-- nav links-->
                        <div class="col-md-12 mt-5">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" href="/rock-detection">
                                        <i class="mdi mdi-earth"></i> Rock Type Identification
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/rock-classification">
                                        <i class="mdi mdi-map-search-outline"></i> Rock Type Classification
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/reverse-geo-coding">
                                        <i class="mdi mdi-map-marker-outline"></i> Geological Mapping
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/distance">
                                        <i class="mdi mdi-ruler"></i> Geochemical Analysis
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/direction">
                                        <i class="mdi mdi-compass-outline"></i> Tectonics
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/nearest">
                                        <i class="mdi mdi-map-marker-distance"></i> Collaboration and Sharing
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right Panel -->
            <div class="col-md-8">
                {% block tool%} {%endblock%}
            </div>
        </div>
    </div>
</div>

{% endblock %}
