{% extends 'index.html' %}
{% load static %}
{% block main_panel %}

<div class="main-panel">
    <div class="row">
        <!-- Map Panel -->
        <div class="col-md-7 bg-light">
            <div id="map" style="height: 100vh;"></div>
        </div>
        <!-- Information Panel -->
        <div class="col-md-5">
            <div class="row mt-3">
                <div class="col-12">
                    <div class="justify-content-end d-flex">
                        <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                            <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button" id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="mdi mdi-calendar"></i> Today (10 Jan 2021)
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDate2">
                                <a class="dropdown-item" href="#">January - March</a>
                                <a class="dropdown-item" href="#">March - June</a>
                                <a class="dropdown-item" href="#">June - August</a>
                                <a class="dropdown-item" href="#">August - November</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 stretch-card">
                  <div class="card tale-bg">
                    <div class="card-people mt-auto">
                      <img src="{% static 'images/dashboard/people.png' %}" alt="people">
                      <div class="weather-info">
                        <div class="d-flex">
                          <div>
                            <h2 class="mb-0 font-weight-normal"><i class="icon-sun mr-2"></i>31<sup>C</sup></h2>
                          </div>
                          <div class="ml-2">
                            <h4 class="location font-weight-normal">Location Name</h4>
                            <h6 class="font-weight-light">Surface temp</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <div class="row mt-3">
                {% comment %} landscape Information {% endcomment %}
                <div class="col-12">
                    <h3 class="font-weight-normal">Satelite View</h3>
                </div>
                <div class="col-12" style="height: 300px;">
                    <div id="contour-map" class="rounded" style="height: 100%;"></div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-12">
                    <h3 class="font-weight-normal">Topography</h3>
                </div>
            
                <table class="table" id="topography-table">
                    <!-- Table headers go here -->
                    <thead>
                        <tr>
                            <th scope="col">Elevation</th>
                            <th scope="col">Slope</th>
                            <th scope="col">Aspect</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!-- Data cells go here -->
                            <td>1000m</td>
                            <td>10%</td>
                            <td>North</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="row mt-5">
                <div class="col-12">
                    <h3 class="font-weight-normal">Rock Information</h3>
                </div>
            
                <table class="table" id="rock-info-table">
                    <!-- Table headers go here -->
                    <thead>
                        <tr>
                            <th scope="col">Rock Type</th>
                            <th scope="col">Rock Age</th>
                            <th scope="col">Rock Hardness</th>
                            <th scope="col">Rock Porosity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Data rows go here -->
                        <tr>
                            <td>Granite</td>
                            <td>1000m</td>
                            <td>10%</td>
                            <td>10%</td>
                        </tr>
                        <tr>
                            <td>Carbon</td>
                            <td>300m</td>
                            <td>10%</td>
                            <td>10%</td>
                        </tr>
                        <tr>
                            <td>Graphite</td>
                            <td>100m</td>
                            <td>10%</td>
                            <td>10%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="row mt-5">
                <div class="col-12">
                    <h3 class="font-weight-normal">General Soil Properties</h3>
                </div>
            
                <table class="table" id="soil-properties-table">
                    <tbody>
                        <!-- Data rows go here -->
                        <tr>
                            <th>Soil Type</td>
                            <td>Clay</td>
                        </tr>
                        <tr>
                            <th>Soil pH</td>
                            <td>7.5</td>
                        </tr>
                        <tr>
                            <th>Soil Moisture</td>
                            <td>10%</td>
                        </tr>
                        <tr>
                            <th>Soil Temperature</td>
                            <td>10%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>

</div>
    {% comment %} Page Scripts {% endcomment %}
    
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet' />

    <script>
        var lat = 0;
        var long = 0;
        function getLocation() {
            // Ask the user for permission to access their location.
            navigator.geolocation.getCurrentPosition(function(position) {
              // The user has allowed access to their location.
              // Get the user's latitude and longitude.
              var latitude = position.coords.latitude;
              var longitude = position.coords.longitude;
          
              lat = latitude;
              long = longitude;
            }, function(error) {
              // The user has denied access to their location.
              // ...
            });
          }
          getLocation();

        
        // Create a new Mapbox GL JS map object.
        var marker;
        var global_map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v12',
        accessToken: 'pk.eyJ1IjoiZWRkaWVndWxsZWQiLCJhIjoiY2w5NWppb2JnMDJiazNubG42dnJmaWhpeSJ9.ypTxiUIVKR1bjuqbgUHR2g',
        projection: 'globe'
        });

        global_map.on('style.load', () => {
            global_map.setFog({
                color: 'rgb(186, 210, 235)', // Lower atmosphere
                'high-color': 'rgb(36, 92, 223)', // Upper atmosphere
                'horizon-blend': 0.02, // Atmosphere thickness (default 0.2 at low zooms)
                'space-color': 'rgb(11, 11, 25)', // Background color
                'star-intensity': 0.6 // Background star brightness (default 0.35 at low zoooms )
            });
            // add infrastructure layer
            global_map.addLayer({
                'id': 'infrastructure',
                'type': 'line',
                'source': {
                'type': 'vector',
                'url': 'mapbox://mapbox.mapbox-streets-v7'
                },
                'source-layer': 'road',
                'layout': {
                'visibility': 'visible',
                'line-join': 'round',
                'line-cap': 'round'
                },
                'paint': {
                'line-color': '#ffffff',
                'line-width': 1
                }
            });
            global_map.setCenter([long, lat])
            global_map.setZoom(8);

            // drop a marker at current location
            marker = new mapboxgl.Marker()
                .setLngLat([long, lat])
                .addTo(global_map);

            // add event listenser to get map coordinates on click
            global_map.on('click', function (e) {
                var coordinates = e.lngLat;
                var lat_clicked = coordinates.lat;
                var long_clicked = coordinates.lng;
                console.log('Longitude: ' + long + ' Latitude: ' + lat);
                // move the marker to the clicked location
                marker.setLngLat([long_clicked, lat_clicked]);
            });

        });

    </script>

    <script>
        // Create a new Mapbox GL JS map object.
        var map = new mapboxgl.Map({
        container: 'contour-map',
        style: 'mapbox://styles/mapbox/satellite-v9',
        accessToken: 'pk.eyJ1IjoiZWRkaWVndWxsZWQiLCJhIjoiY2w5NWppb2JnMDJiazNubG42dnJmaWhpeSJ9.ypTxiUIVKR1bjuqbgUHR2g',
        projection: 'globe'
        });
        map.on('style.load', () => {
        map.setFog({
            color: 'rgb(186, 210, 235)', // Lower atmosphere
            'high-color': 'rgb(36, 92, 223)', // Upper atmosphere
            'horizon-blend': 0.02, // Atmosphere thickness (default 0.2 at low zooms)
            'space-color': 'rgb(11, 11, 25)', // Background color
            'star-intensity': 0.6 // Background star brightness (default 0.35 at low zoooms )
            });

            // add contour lines
            map.addSource('contours', {
                type: 'vector',
                url: 'mapbox://mapbox.mapbox-terrain-v2'
                });
                map.addLayer({
                'id': 'contours',
                'type': 'line',
                'source': 'contours',
                'source-layer': 'contour',
                'layout': {
                'visibility': 'visible',
                'line-join': 'round',
                'line-cap': 'round'
                },
                'paint': {
                'line-color': '#000000',
                'line-width': 1
                }
            });
            // rivers layer
            map.addLayer({
                'id': 'rivers',
                'type': 'line',
                'source': {
                'type': 'vector',
                'url': 'mapbox://mapbox.mapbox-streets-v7'
                },
                'source-layer': 'water',
                'layout': {
                'visibility': 'visible',
                'line-join': 'round',
                'line-cap': 'round'
                },
                'paint': {
                'line-color': '#00ffff',
                'line-width': 1
                }
            });
        });

        map.setCenter([-6.8450, 39.2737]);
        map.setZoom(12);

        // add event listenser to get map coordinates on click
        global_map.on('click', function (e) {
            var coordinates = e.lngLat;
            var lat_clicked = coordinates.lat;
            var long_clicked = coordinates.lng;
            console.log('Longitude: ' + long + ' Latitude: ' + lat);
            // move the marker to the clicked location
            marker.setLngLat([long_clicked, lat_clicked]);

            // set map fly center to clicked location
            map.flyTo({
                center: [long_clicked, lat_clicked],
                essential: true // this animation is considered essential with respect to prefers-reduced-motion
                });

        });
    </script>

    <style>.mapboxgl-ctrl-logo{display:none !important;}</style>


    <script>
        // Define an array of soil properties, topography, and land usage
        const properties = [
            {
              key: "land_cover_2015",
              text: "Land Cover (2015)"
            },
            {
              key: "land_cover_2016",
              text: "Land Cover (2016)"
            },
            {
              key: "land_cover_2017",
              text: "Land Cover (2017)"
            },
            {
              key: "land_cover_2018",
              text: "Land Cover (2018)"
            },
            {
              key: "land_cover_2019",
              text: "Land Cover (2019)"
            },
            {
              key: "crop_cover_2015",
              text: "Cropland (2015)"
            },
            {
              key: "crop_cover_2016",
              text: "Cropland (2016)"
            },
            {
              key: "crop_cover_2017",
              text: "Cropland (2017)"
            },
            {
              key: "crop_cover_2018",
              text: "Cropland (2018)"
            },
            {
              key: "crop_cover_2019",
              text: "Cropland (2019)"
            },
            {
              key: "bedrock_depth",
              text: "Depth to bedrock"
            },
            {
              key: "cation_exchange_capacity",
              text: "Effective Cation Exchange Capacity"
            },
            {
              key: "fcc",
              text: "Fertility Capability Classification"
            },
            {
              key: "iron_extractable",
              text: "Iron, extractable"
            },
            {
              key: "magnesium_extractable",
              text: "Magnesium, extractable"
            },
            {
              key: "nitrogen_total",
              text: "Nitrogen, total"
            },
            {
              key: "phosphorous_extractable",
              text: "Phosphorus, extractable"
            },
            {
              key: "potassium_extractable",
              text: "Potassium, extractable"
            },
            {
              key: "sand_content",
              text: "Sand content"
            },
            {
              key: "silt_content",
              text: "Silt content"
            },
            {
              key: "slope_angle",
              text: "Slope Angle"
            },
            {
              key: "stone_content",
              text: "Stone content"
            },
            {
              key: "sulphur_extractable",
              text: "Sulphur, extractable"
            },
            {
              key: "texture_class",
              text: "USDA Texture Class"
            },
            {
              key: "zinc_extractable",
              text: "Zinc, extractable"
            },
            {
              key: "ph",
              text: "pH"
            }
          ];
          
  
  // Function to retrieve property value based on lat, lon, and depth
    function getPropertyInfo(lat, lon, depth, propertyKey) {
        const apiUrl = `https://api.isda-africa.com/v1/soilproperty?key=YOUR_API_KEY_HERE&lat=${lat}&lon=${lon}&property=${propertyKey}&depth=${depth}`;
    
        // Make an API request using fetch
        return fetch(apiUrl)
        .then(response => {
            if (!response.ok) {
            throw new Error(`API request failed with status ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            // Handle the response data here
            return data.value; // Adjust this based on the API response structure
        })
        .catch(error => {
            console.error("Error fetching data:", error);
            return null;
        });
    }
    
    // Example usage:
    const lat = 9.4425;
    const lon = -0.7770;
    const depth = "0"; // Adjust the depth as needed
    const propertyKey = "land_cover_2015"; // Specify the property key you want to retrieve
    
    getPropertyInfo(lat, lon, depth, propertyKey)
        .then(value => {
        if (value !== null) {
            console.log(`Value for ${propertyKey} at (${lat}, ${lon}), depth ${depth}: ${value}`);
        } else {
            console.log(`Failed to retrieve data for ${propertyKey} at (${lat}, ${lon}), depth ${depth}`);
        }
    });

    </script>
{% endblock %}
